{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}


{% block app_content %}
    {% if active_imagedecode %}
        <p><h2>Image Decoding</h2></p>
    {% endif %}
    {% if active_imageprocess %}
        <p><h2>Image Encoding</h2></p>
    {% endif %}
    {% if form %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.render_form(form, button_style="outline-success", method="post", enctype="multipart/form-data") }}
        </div>
    </div>
    {% endif %}
    {% if image %}
    <h2>Image</h2>
        <a href={{image}} download>
          <img src={{image}}>
        </a>
    {% endif %}
    {% if text %}
        <h2>Decryption contents:</h2>
        {% for para in text %}
            <p>{{para}}</p>
        {% endfor %}
    {% endif %}
{% endblock %}